<a href="https://colab.research.google.com/github/nilotpalc/Python-Training/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A -0.031326  0.497073  1.958769  0.413867
B -0.177053  1.356966 -1.277524 -1.086950
C -0.698514 -0.844363 -1.016267  1.013607
D -1.344044 -0.984245  0.807834 -1.460731
E -0.150650  0.124015  0.494318  0.658549

# Adding Columns to a DataFrame

In [0]:
df['AA']=randn(5) # adding a new column to an existing DataFrame with values in array object

In [4]:
df

          W         X         Y         Z        AA
A -0.031326  0.497073  1.958769  0.413867  0.164490
B -0.177053  1.356966 -1.277524 -1.086950  0.734288
C -0.698514 -0.844363 -1.016267  1.013607  1.069631
D -1.344044 -0.984245  0.807834 -1.460731  0.215283
E -0.150650  0.124015  0.494318  0.658549 -0.098022

In [0]:
df['BB']= list(randn(5)) # adding a new column to an existing DataFrame with values in list object

In [6]:
df

          W         X         Y         Z        AA        BB
A -0.031326  0.497073  1.958769  0.413867  0.164490  0.396139
B -0.177053  1.356966 -1.277524 -1.086950  0.734288  0.646595
C -0.698514 -0.844363 -1.016267  1.013607  1.069631 -0.343374
D -1.344044 -0.984245  0.807834 -1.460731  0.215283 -1.326794
E -0.150650  0.124015  0.494318  0.658549 -0.098022  0.984186

In [0]:
df['new'] = df['W'] + df['Z'] # adding a new column to an existing DataFrame with values generated through operations

In [8]:
df

          W         X         Y         Z        AA        BB       new
A -0.031326  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B -0.177053  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003
C -0.698514 -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -1.344044 -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E -0.150650  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

# Indexing and Slicing Data from DataFrame

In [9]:
df['AA']

A    0.164490
B    0.734288
C    1.069631
D    0.215283
E   -0.098022
Name: AA, dtype: float64

In [10]:
df[['X','AA']] # grabbing multiple columns

          X        AA
A  0.497073  0.164490
B  1.356966  0.734288
C -0.844363  1.069631
D -0.984245  0.215283
E  0.124015 -0.098022

In [11]:
df.loc['A']

W     -0.031326
X      0.497073
Y      1.958769
Z      0.413867
AA     0.164490
BB     0.396139
new    0.382541
Name: A, dtype: float64

In [12]:
df.loc[['A','B']]  # grabbing multiple rows

          W         X         Y         Z        AA        BB       new
A -0.031326  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B -0.177053  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003

In [13]:
df.loc[['A','C'],['Z','Y']]  # grabbing multiple rows and columns

          Z         Y
A  0.413867  1.958769
C  1.013607 -1.016267

# Dropping Rows and Columns

In [14]:
df.shape # row,col is indexed as 0,1 in shape tuple

(5, 7)

In [15]:
df.drop('W',axis = 1)

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [16]:
df

          W         X         Y         Z        AA        BB       new
A -0.031326  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B -0.177053  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003
C -0.698514 -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -1.344044 -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E -0.150650  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [0]:
df.drop('W',axis = 1,inplace = True)

In [18]:
df

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [19]:
df.drop('B',axis = 0)

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [20]:
df

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
B  1.356966 -1.277524 -1.086950  0.734288  0.646595 -1.264003
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [0]:
df.drop('B',axis = 0,inplace=True)

In [22]:
df

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [23]:
df.drop(['A','C'],axis =0) # dropping multiple rows

          X         Y         Z        AA        BB       new
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

In [24]:
df

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
C -0.844363 -1.016267  1.013607  1.069631 -0.343374  0.315093
D -0.984245  0.807834 -1.460731  0.215283 -1.326794 -2.804775
E  0.124015  0.494318  0.658549 -0.098022  0.984186  0.507899

# Conditional Selection

In [25]:
df[df>0] # running the conditional selection on Total DataFrame returns NaN values

          X         Y         Z        AA        BB       new
A  0.497073  1.958769  0.413867  0.164490  0.396139  0.382541
C       NaN       NaN  1.013607  1.069631       NaN  0.315093
D       NaN  0.807834       NaN  0.215283       NaN       NaN
E  0.124015  0.494318  0.658549       NaN  0.984186  0.507899

In [26]:
df[df['BB']>0][['X','Y']] # running indexing and slicing on conditional selection

          X         Y
A  0.497073  1.958769
E  0.124015  0.494318

In [27]:
df[ (df['AA']>0) & (df['BB']>0) ] # running multiple conditional selections on the array

          X         Y         Z       AA        BB       new
A  0.497073  1.958769  0.413867  0.16449  0.396139  0.382541

In [32]:
df[(df['AA']>0) | (df['BB']>0.5)].loc[['A','C'],['AA','BB']] # running multiple conditional selections followed by 2D subset extract

         AA        BB
A  0.164490  0.396139
C  1.069631 -0.343374

# Multi-level Index

In [0]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['AA','BB'])

In [36]:
df

            AA        BB
G1 1 -0.990021 -1.362406
   2 -0.817875  0.163286
   3  0.146143 -0.765428
G2 1  0.527329 -0.195719
   2 -0.832622 -0.074376
   3 -0.393433 -0.517251

In [40]:
df.loc['G1'].loc[1] # selecting multi-level row data

1   -0.990021
2   -0.817875
3    0.146143
Name: AA, dtype: float64

In [47]:
df['AA']

G1  1   -0.990021
    2   -0.817875
    3    0.146143
G2  1    0.527329
    2   -0.832622
    3   -0.393433
Name: AA, dtype: float64

In [50]:
df['AA'].loc['G1']

1   -0.990021
2   -0.817875
3    0.146143
Name: AA, dtype: float64

In [51]:
df['AA'].loc[1]

KeyError: ignored

In [41]:
df.loc['G1']['AA'] # selecting outer-level row followed by column

1   -0.990021
2   -0.817875
3    0.146143
Name: AA, dtype: float64

In [43]:
df.xs(['G1',1]) #xs method only takes row-level instructions

AA   -0.990021
BB   -1.362406
Name: (G1, 1), dtype: float64

In [44]:
df.xs('G1')

         AA        BB
1 -0.990021 -1.362406
2 -0.817875  0.163286
3  0.146143 -0.765428

In [46]:
df.xs(1,level = 1) # default levels are assigned index labels starting from zero

          AA        BB
G1 -0.990021 -1.362406
G2  0.527329 -0.195719

In [56]:
df.xs(1,level=1)['AA']

G1   -0.990021
G2    0.527329
Name: AA, dtype: float64

In [58]:
df.xs(1,level=1).loc['G2']

AA    0.527329
BB   -0.195719
Name: G2, dtype: float64

In [60]:
df.xs(1,level=1).loc['G1','AA']

-0.9900212119253418

In [63]:
df.index.names = ['Outer','Inner']
df

                   AA        BB
Outer Inner
G1    1     -0.990021 -1.362406
      2     -0.817875  0.163286
      3      0.146143 -0.765428
G2    1      0.527329 -0.195719
      2     -0.832622 -0.074376
      3     -0.393433 -0.517251

In [65]:
df.xs(1,level = 'Inner')

             AA        BB
Outer
G1    -0.990021 -1.362406
G2     0.527329 -0.195719