<a href="https://colab.research.google.com/github/nilotpalc/Python-Training/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [178]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A -0.832570 -1.059207 -0.723811 -0.799430
B -0.453812  1.684392 -0.356674  0.043152
C -0.070607  0.720182 -1.131620  1.087063
D -0.572659 -0.387608 -0.018479 -0.625600
E -0.563556 -1.063586  0.375142  0.265304

# Adding Columns to a DataFrame

In [0]:
df['AA']=randn(5) # adding a new column to an existing DataFrame with values in array object

In [180]:
df

          W         X         Y         Z        AA
A -0.832570 -1.059207 -0.723811 -0.799430 -0.248189
B -0.453812  1.684392 -0.356674  0.043152  0.301779
C -0.070607  0.720182 -1.131620  1.087063 -0.148736
D -0.572659 -0.387608 -0.018479 -0.625600 -0.940666
E -0.563556 -1.063586  0.375142  0.265304  1.194725

In [0]:
df['BB']= list(randn(5)) # adding a new column to an existing DataFrame with values in list object

In [182]:
df

          W         X         Y         Z        AA        BB
A -0.832570 -1.059207 -0.723811 -0.799430 -0.248189  1.111736
B -0.453812  1.684392 -0.356674  0.043152  0.301779  1.241641
C -0.070607  0.720182 -1.131620  1.087063 -0.148736  0.853266
D -0.572659 -0.387608 -0.018479 -0.625600 -0.940666 -0.035529
E -0.563556 -1.063586  0.375142  0.265304  1.194725 -0.404039

In [0]:
df['new'] = df['W'] + df['Z'] # adding a new column to an existing DataFrame with values generated through operations

In [184]:
df

          W         X         Y         Z        AA        BB       new
A -0.832570 -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
B -0.453812  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.410660
C -0.070607  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.572659 -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -0.563556 -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

# Indexing and Slicing Data from DataFrame

In [185]:
df['AA']

A   -0.248189
B    0.301779
C   -0.148736
D   -0.940666
E    1.194725
Name: AA, dtype: float64

In [186]:
df[['X','AA']] # grabbing multiple columns

          X        AA
A -1.059207 -0.248189
B  1.684392  0.301779
C  0.720182 -0.148736
D -0.387608 -0.940666
E -1.063586  1.194725

In [187]:
df.loc['A']

W     -0.832570
X     -1.059207
Y     -0.723811
Z     -0.799430
AA    -0.248189
BB     1.111736
new   -1.632000
Name: A, dtype: float64

In [188]:
df.loc[['A','B']]  # grabbing multiple rows

          W         X         Y         Z        AA        BB      new
A -0.832570 -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.63200
B -0.453812  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.41066

In [189]:
df.loc[['A','C'],['Z','Y']]  # grabbing multiple rows and columns

          Z         Y
A -0.799430 -0.723811
C  1.087063 -1.131620

# Dropping Rows and Columns

In [190]:
df.shape # row,col is indexed as 0,1 in shape tuple

(5, 7)

In [191]:
df.drop('W',axis = 1)

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
B  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.410660
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [192]:
df

          W         X         Y         Z        AA        BB       new
A -0.832570 -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
B -0.453812  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.410660
C -0.070607  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.572659 -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -0.563556 -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [0]:
df.drop('W',axis = 1,inplace = True)

In [194]:
df

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
B  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.410660
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [195]:
df.drop('B',axis = 0)

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [196]:
df

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
B  1.684392 -0.356674  0.043152  0.301779  1.241641 -0.410660
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [0]:
df.drop('B',axis = 0,inplace=True)

In [198]:
df

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [199]:
df.drop(['A','C'],axis =0) # dropping multiple rows

          X         Y         Z        AA        BB       new
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

In [200]:
df

          X         Y         Z        AA        BB       new
A -1.059207 -0.723811 -0.799430 -0.248189  1.111736 -1.632000
C  0.720182 -1.131620  1.087063 -0.148736  0.853266  1.016456
D -0.387608 -0.018479 -0.625600 -0.940666 -0.035529 -1.198259
E -1.063586  0.375142  0.265304  1.194725 -0.404039 -0.298252

# Conditional Selection

In [201]:
df[df>0] # running the conditional selection on Total DataFrame returns NaN values

          X         Y         Z        AA        BB       new
A       NaN       NaN       NaN       NaN  1.111736       NaN
C  0.720182       NaN  1.087063       NaN  0.853266  1.016456
D       NaN       NaN       NaN       NaN       NaN       NaN
E       NaN  0.375142  0.265304  1.194725       NaN       NaN

In [202]:
df[df['BB']>0][['X','Y']] # running indexing and slicing on conditional selection

          X         Y
A -1.059207 -0.723811
C  0.720182 -1.131620

In [203]:
df.loc['A']

X     -1.059207
Y     -0.723811
Z     -0.799430
AA    -0.248189
BB     1.111736
new   -1.632000
Name: A, dtype: float64

In [204]:
df[ (df['AA']>0) & (df['BB']>0) ] # running multiple conditional selections on the array

Empty DataFrame
Columns: [X, Y, Z, AA, BB, new]
Index: []

In [207]:
df[(df['AA']>0) | (df['BB']>0.5)].loc[['A','C'],['AA','BB']] # running multiple conditional selections followed by 2D subset extract

         AA        BB
A -0.248189  1.111736
C -0.148736  0.853266

In [213]:
df[df.loc['A']>0] # conditional selection cannot be run on row index labels

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: ignored

# Multi-level Index

In [0]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['AA','BB'])

In [217]:
df

            AA        BB
G1 1  0.609145  0.125696
   2 -0.171842  0.286708
   3 -0.569197  0.813019
G2 1  0.182430  0.364731
   2  0.340746  1.189287
   3  0.540189  0.552888

In [218]:
df.loc['G1'].loc[1] # selecting multi-level row data

AA    0.609145
BB    0.125696
Name: 1, dtype: float64

In [219]:
df['AA']

G1  1    0.609145
    2   -0.171842
    3   -0.569197
G2  1    0.182430
    2    0.340746
    3    0.540189
Name: AA, dtype: float64

In [220]:
df['AA'].loc['G1']

1    0.609145
2   -0.171842
3   -0.569197
Name: AA, dtype: float64

In [221]:
df['AA'].loc[1]

KeyError: ignored

In [223]:
df.loc['G1']['AA'] # selecting outer-level row followed by column

1    0.609145
2   -0.171842
3   -0.569197
Name: AA, dtype: float64

In [224]:
df.xs(['G1',1]) #xs method only takes row-level instructions

AA    0.609145
BB    0.125696
Name: (G1, 1), dtype: float64

In [225]:
df.xs('G1')

         AA        BB
1  0.609145  0.125696
2 -0.171842  0.286708
3 -0.569197  0.813019

In [226]:
df.xs(1,level = 1) # default levels are assigned index labels starting from zero

          AA        BB
G1  0.609145  0.125696
G2  0.182430  0.364731

In [227]:
df.xs(1,level=1)['AA']

G1    0.609145
G2    0.182430
Name: AA, dtype: float64

In [228]:
df.xs(1,level=1).loc['G2']

AA    0.182430
BB    0.364731
Name: G2, dtype: float64

In [229]:
df.xs(1,level=1).loc['G1','AA']

0.6091450052260752

In [230]:
df.index.names = ['Outer','Inner']
df

                   AA        BB
Outer Inner
G1    1      0.609145  0.125696
      2     -0.171842  0.286708
      3     -0.569197  0.813019
G2    1      0.182430  0.364731
      2      0.340746  1.189287
      3      0.540189  0.552888

In [231]:
df.xs(1,level = 'Inner')

             AA        BB
Outer
G1     0.609145  0.125696
G2     0.182430  0.364731